[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".zsh.d/modules/genymotion-peco"]
	path = .zsh.d/modules/genymotion-peco
	url = https://github.com/sys1yagi/genymotion-peco
[submodule ".zsh.d/modules/adb-peco"]
	path = .zsh.d/modules/adb-peco
	url = https://github.com/tomorrowkey/adb-peco
[submodule ".zsh.d/modules/z"]
	path = .zsh.d/modules/z
	url = https://github.com/rupa/z
[submodule ".zsh.d/modules/zsh-notify"]
	path = .zsh.d/modules/zsh-notify
	url = https://github.com/marzocchi/zsh-notify
[submodule ".zsh.d/modules/zsh-bd"]
	path = .zsh.d/modules/zsh-bd
	url = https://github.com/Tarrasch/zsh-bd
[submodule ".zsh.d/modules/zsh-completions"]
	path = .zsh.d/modules/zsh-completions
	url = https://github.com/zsh-users/zsh-completions/
[submodule ".zsh.d/modules/zsh-syntax-highlighting"]
	path = .zsh.d/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto/
