[submodule ".zsh.d/modules/z"]
	path = .zsh.d/modules/z
	url = https://github.com/rupa/z
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto/
[submodule ".tmux.d/tmux-powerline"]
	path = .tmux.d/tmux-powerline
	url = https://github.com/erikw/tmux-powerline
