" =============================
" === General Configuration ===
" =============================

" case unsensitive search
set ignorecase
" case sensitive search when query includes Big character
set smartcase
" highlight search result
set hlsearch
" sync clipboard with mac osx
set clipboard=unnamed
" show line number
set number

" =============================
" ===       Extensions      ===
" =============================
" https://github.com/JetBrains/ideavim#emulated-vim-plugins

" Enable vim-surround
set surround

" =============================
" ===     Key Mappings      ===
" =============================

"x キー削除でデフォルトレジスタに入れない
nnoremap x "_x
"vv で行末まで選択
vnoremap v ^$h
"選択範囲のインデントを連続して変更
vnoremap < <gv
vnoremap > >gv

inoremap jj <ESC>
inoremap <C-j> <ESC>
vnoremap <C-j> <ESC>
cnoremap <C-j> <ESC>

nnoremap ; :
inoremap ; ;
inoremap : :

inoremap <C-a> <Esc>^i
inoremap <C-e> <Esc><S-a>
cnoremap <C-a> <Esc>^i
cnoremap <C-e> <Esc><S-a>

nnoremap tn :action VimMotionNextTab<CR>
nnoremap tp :action VimMotionPreviousTab<CR>
