[core]
  editor = "vim"
	excludesfile = /Users/sakuna63/.gitignore_global
[user]
  name = Ippei Nawate
  email = saku.ni63@gmail.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[color]
  ui = auto
[alias]
  br = branch
  st = status
  ss = stash save
  sp = stash pop
  cm = commit
  cma = commit --amend
  re = reset
  reh = reset --hard
  ada = add -A .
  adp = add -p
  co = checkout
  cob = checkout -b
  mas = checkout master
  dev = checkout develop
  mg = merge --no-ff
  f = fetch
  p = pull
  pu = push origin
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
  root = ~/.ghq
  root = $GOPATH/src
[credential]
	helper = osxkeychain
